<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPES</title>

    <environment include="Development">
        <link href="~/lib/bootswatch/cosmo/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cosmo/bootstrap.min.css" 
              integrity="sha384-3Ivskwia8Fui5tbQi+RW4DgTkJ8d+hW7mLe7Yk89ibmD9482VECh0WFof8kIEjwI" 
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootswatch/cosmo/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label=@Localizer["สลับการนำทาง"]>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EPES</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    @*<li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["หน้าหลัก"] <span class="sr-only">(current)</span></a></li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">@Localizer["ข้อมูลพื้นฐาน"]</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
                            <a class="dropdown-item" href="#">@Localizer["แผนปฏิบัติราชการ"]</a>
                            <a class="dropdown-item" href="#">@Localizer["เป้าหมาย/ประมาณการ"]</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">@Localizer["บันทึกผลการปฏิบัติราชการ"]</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
                            <a class="dropdown-item" href="#">@Localizer["1.1 ผลการปฏิบัติราชการของ กอง สำนัก ศูนย์"]</a>
                            <a class="dropdown-item" href="#">@Localizer["1.2 ผลการปฏิบัติราชการของ สภ./สท."]</a>
                            <a class="dropdown-item" href="#">@Localizer["1.3 แก้ไขผลการปฏิบัติราชการ"]</a>
                            <a class="dropdown-item" href="#">@Localizer["1.4 ตรวจสอบและแก้ไขผลรายตัวชี้วัด รายหน่วยงาน (เฉพาะหน่วยควบคุม)"]</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">@Localizer["รายงาน"]</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
                            <a class="dropdown-item" href="#">@Localizer["รายงานผลการปฏิบัติงานของกรมสรรพากร"]</a>
                            <a class="dropdown-item" href="#">@Localizer["รายงานผลการปฏิบัติงานของ กอง สำนัก ศูนย์"]</a>
                            <a class="dropdown-item" href="#">@Localizer["รายงานผลการปฏิบัติงานของ สภ.1-12"]</a>
                            <a class="dropdown-item" href="#">@Localizer["รายงานผลการปฏิบัติงานของ สท กทม 1-30 (30 สท)"]</a>
                            <a class="dropdown-item" href="#">@Localizer["รายงานผลการปฏิบัติงานของ สท ต่างจังหวัด (89 สท.)"]</a>
                            <a class="dropdown-item" href="#">@Localizer["รายงานผลการปฏิบัติงานของ สท ทั่วประเทศ (119 สท.)"]</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">@Localizer["จัดการผู้ใช้"]</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
                            <a class="dropdown-item" href="#">@Localizer["ผู้ใช้งาน"]</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">@Localizer["สิทธิ์การใช้งาน"]</a>
                        </div>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    @Localizer["&copy; 2562 - (Electronic Performance Evaluation System : EPES) กรมสรรพากร"]
                </div>
                <div class="col-lg-6 text-lg-right">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
