@using Microsoft.AspNetCore.Identity
@using EPES.Areas.Identity.Data

@inject SignInManager<EPESUser> SignInManager
@inject UserManager<EPESUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["ออกจากระบบ"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">@Localizer["ลงทะเบียน"]</a></li>
        <li><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">@Localizer["เข้าสู่ระบบ"]</a></li>
    </ul>
}